
* {
    margin: 0;
    padding: 0;
}

.container{
    position: relative;
    width: 100%;
    align-self: center;
}

#cabecalho{
    height: 94px;
    padding: 0px 69px 0px 69px;
    display: flex;
    align-items: center;
}

#botoes{
    margin-left: auto;
}

.botoes-header{
    margin: 0 19px;
}

.banner{
    width: 100%;
}

.textos{
    height: 85px;
    padding: 0px 69px 0px 69px;
    display: flex;
    align-items: center;
}

.lato{
    font-family: 'Lato', sans-serif;
    color: #161616;
}

.lato-negrito{
    font-family: 'Lato', sans-serif;
    color: #161616;
    font-weight: bold;
}

.promocao{
    font-size: 20px;
    line-height: 24px;
}

.produtos{
    margin-left: auto;
}

.produtos1{
    margin: 0 19px;
    font-size: 18px;
    line-height: 21.6px;
}

.grid{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 57px 70px 116px 71px;
}

.grid-item {
    border: auto;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    height: 363px;
  }

.item-text{
    height: 26px;
    width: 292px;
    left: 70px;
    top: 938px;
    border-radius: nullpx;
}
.preco-rs{
    color: #5CA720;
    font-family: 'Lato', sans-serif;
}

.tam-img{
    position: absolute;
    height: 303px;
    width: 303px;
    object-fit: cover;
}